html {
    scrollbar-width: none;
}

body {
    background: #000;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    padding: 3% 12% 0px 12%;
}

#darker {
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
    display: none;
}

#darker.shown {
    display: block;
}

body * {
    padding: 0;
    margin: 0;
}

select {
    width: 100%;
    border-radius: 0px;
    height: 25px;
    padding-left: 4px;
    font-size: 15px;
}

input[type='text'] {
    margin-top: 5px;
    border-radius: 0px;
    padding: 2px;
    outline: none;
    font-size: 15px;
    width: 98%;
}

input[type='number'] {
    width: 99%;
    border-radius: 0px;
    height: 23px;
    outline: none;
    padding-left: 4px;
    font-size: 15px;
}

input[type='button'] {
    border-radius: 0px;
    padding: 3px;
}

.vid_window {
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
    border: 3px ridge gray;
}

.vid_window .vid_frame {
    height: calc(100vh - 75px);
    background: black;
    resize: vertical;
    overflow: hidden;
    min-height: 329px;
    max-height: calc(100vh - 75px);
}

.vid_window .vid_frame iframe {
    width: 100%;
    height: 100%;
}

.vid_window .vid_info {
    background: #808080;
    padding: 5px 0px 10px 5px;
}

.vid_window .vid_buttons {
    height: 34px;
    background: black;
    border-top: 3px ridge gray;
    display: flex;
    display: flex;
    justify-content: center;
}

.vid_buttons div {
    width: 35px;
    background-image: url('arrows.jpg');
    cursor: pointer;
    opacity: 75%;
    transition: opacity 150ms ease-in-out;
    background-repeat: no-repeat;
}

.vid_buttons #back_btn {
    margin-left: auto;
}

.vid_buttons #history_btn {
    background-position: -36px 0px;
}

.vid_buttons #forward_btn {
    background-position: -72px 0px;
}

.vid_buttons #fave_btn {
    background-position: -109px 0px;
    margin-left: auto;
}

.vid_buttons #settings_btn {
    background-position: -109px 0px;
}

.vid_buttons div:hover {
    opacity: 100%;
}

.messagebox {
    position: fixed;
    min-height: 93px;
    top: 46%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1024;
    background: #d5d5d5;
    width: 283px;
    border: 3px ridge gray;
    overflow-y: auto;
    max-height: 481px;
    overflow-x: hidden;
}

.messagebox .messagebox_header {
    background: gray;
    height: 24px;
    padding: 3px 8px 0px 8px;
    border-bottom: 3px ridge #555;
    display: flex;
    justify-content: space-between;
}

.messagebox .messagebox_body {
    padding: 5px 5px 0px 8px;
}

.messagebox .messagebox_header #_cross {
    cursor: pointer;
}

.messagebox .messagebox_header #_cross:hover {
    color: white;
}

.messagebox .messagebox_body .item p, .messagebox_body .item a {
    color: black;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.messagebox .messagebox_body .item td {
    vertical-align: top;
}

.messagebox .messagebox_body .item img {
    width: 65px;
}

.messagebox .messagebox_body .item.sel {
    background: fuchsia;
}

.messagebox .messagebox_body .item:hover {
    background: #ffffff;
}

@media (max-width: 868px) {
    .wrapper {
        padding: unset !important;
    }

    .vid_window {
        box-shadow: unset !important;
        border: unset !important;
    }

    .vid_buttons #back_btn {
        margin-left: unset !important;
    }

    .vid_window .vid_buttons {
        height: 64px !important;
    }

    .vid_buttons div {
        width: 35px !important;
    }

    .messagebox {
        left: unset !important;
        top: unset !important;
        transform: unset !important;
        min-height: 100vh !important;
        width: 100%;
    }

    .messagebox .messagebox_header {
        height: 63px;
    }

    #_cross {
        font-size: 44px;
    }

    body * {
        font-size: 25px;
    }
}
